body{
  background-color: lightblue;
}

.container{
  width: 800px;
  height: 250px;
  padding: 40px;
  border: gray 3px solid;
  background: white;
  border-radius: 10px;
}

.profile{
  display: inline-block;
  vertical-align: top;
}

.user{
  display: inline-block;
  vertical-align: top;
}

.hola, h1{
  display: inline-block;
  margin: 0;
}

h2{
  margin-top: 0px;
  color: gray
}

.follow{
  padding: 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
  color: lightblue;
  float: right;
}

.hey{
  display: block;
}

.lasty{
  display: inline-block;
  margin: 0px 10px;
}
